.todo-item-card {
  width: 600px;
  min-height: 50px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 5px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid lightgrey;

  &-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;

    button {
      margin-left: auto;
    }
  }
}

::ng-deep mat-card-content.mat-mdc-card-content:first-child {
  padding-top: 0;
}
.completed {
  text-decoration: line-through;
  color: grey;
}
