.todo-item-card {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 5px;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 20px;

  &-content {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;

    button {
      margin-left: auto;
    }
  }

  ::ng-deep mat-card-content.mat-mdc-card-content:first-child {
    padding-top: 0;
  }


}::ng-deep mat-card-content.mat-mdc-card-content {
    padding: 0;
    margin: 0 10px;
  }

.completed {
  text-decoration: line-through;
  color: grey;
}

button {
  color: #f8c434;
}

mat-card-actions {
  margin: 0 10px 0 0;
  padding: 0;
}
