

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
  ::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-title+.mat-mdc-dialog-content {
    padding-top: 16px;
  }
.dialog-content-date-section {
  display: flex;
  gap: 10px;
  min-height: 80px;

  &-toggle {
    width: fit-content;
    height: 40px;
  }
}
